/windows/project/Debug
/windows/project/part01/Debug
/windows/project/project.opensdf
/windows/project/project.v12.suo
/windows/project/*.sdf
/windows/project/part02/Debug
/windows/project/part03/Debug
/windows/project/part06/Debug
/windows/project/part05/Debug
/windows/project/part04/Debug
/windows/project/part07/Debug
/windows/project/part08/Debug
/windows/project/part09/Debug
