/windows/project/Debug
/windows/project/part01/Debug
/windows/project/project.opensdf
/windows/project/project.v12.suo
/windows/project/*.sdf
/windows/project/part02/Debug
/windows/project/part03/Debug
